body {
        background-image: url("http://fc06.deviantart.net/fs71/i/2013/289/6/3/mega_charizard_x__y_by_efan96-d6qrbgs.jpg") !important;
}
.backdrop {
	background-image: url("http://i.imgur.com/CZI3nGZ.png") !important;
}
.ps-room {
	background-color: rgba(242, 247, 250, 0.5) !important;
}
.menugroup {
	color: #fff;
	text-shadow: 1px 1px 0 #fff;
}
.menugroup .button {
	background: #3E68B2;
	color: #FFFFFF;
	text-shadow: 1px 1px 0 #fff;
}
.menugroup .button:hover {
	background: #FD784D;
}
