.mainmenuwrapper {
    color: rgb(50, 55, 51);
    font-size: 11pt;
    font-family: Verdana,Helvetica,Arial,sans-serif;
    background: url("http://emersonwolfe.files.wordpress.com/2013/02/valentinesforda.jpg") no-repeat scroll right top rgb(50, 55, 51);
}
.menugroup .button:hover {
background: #FCCF79;
}
.menugroup .button {
background: #EBAE3B;
}
.chat-log {
    font-size: 10pt;
    background: #D6DDE5 url("http://i.imm.io/1gKRQ.png") no-repeat scroll right bottom;
    color: rgb(0, 0, 0);
    overflow: auto;
}
#header {
color: rbg(235, 174, 59);
background: #EBAE3B url("http://play.pokemonshowdown.com/fx/client-topbar-bg.png");
}
.userlist {
background: #D6DDE5;
}
/*
.userlist li button:hover {
background: #D6DDE5;
}
.userlist li {
border-bottom: 1px solid #;
height: 19px;
font: 10pt Verdana,sans-serif;
white-space: nowrap;
}*/
