.mainmenuwrapper {
    color: rgb(8, 16, 35);
    font-size: 11pt;
    font-family: Verdana,Helvetica,Arial,sans-serif;
    background: url("http://www.iclarified.com/images/news/31430/128167/128167.png") no-repeat scroll right top rgb(63, 38, 70);
}
.menugroup .button:hover {
background: #639CB8;
}
.menugroup .button {
background: #1E2D58;
}
.chat-log {
    font-size: 10pt;
    background: #e5f5ff url("http://cdn.bulbagarden.net/upload/archive/6/66/20091223231423!484Palkia.png") no-repeat scroll right bottom;
    color: rgb(0, 0, 0);
    overflow: auto;
}
#header {
background: url("http://www.iclarified.com/images/news/31430/128167/128167.png");
}
.userlist {
background: #D6DDE5;
}
.userlist li button:hover {
background: #D6DDE5;
}
/*
.userlist li {
border-bottom: 1px solid #;
height: 19px;
font: 10pt Verdana,sans-serif;
white-space: nowrap;
}*/

